<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApplication">

        <activity
            android:name=".ui.rippletest.RippleTestActivity"
            android:exported="false" />
        <activity
            android:name=".motiontest2.MotionTest2"
            android:exported="false" />
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name=".ui.motionlayouttest.MotionTestActivity"
            android:exported="false" />

        <service
            android:name=".service.NotificationService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.viewmodeltest.VmTest"
            android:exported="false" />
        <activity
            android:name=".ui.appwebtest.PageTest"
            android:exported="false" />
        <activity
            android:name=".ui.ViewBindingActivity"
            android:exported="false" />

        <receiver
            android:name=".BroadCastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.sharetest.ShareTest"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.SHARE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lyh5427.com"
                    android:path="/link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>